@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,500&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1ddd9;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
    /*user-select: none;*/
    --load-time: 300ms
}

.btns-container {
    display: flex;
    animation: btn-load var(--load-time) ease-in;
}

.btns-container button {
    animation-name: btn-container-load;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: var(--load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}

.btns-container button:first-child {
    animation-name: btn-container-first-load;
    transform: translateX(-1000%);
}

.btns-container button:last-child {
    animation-name: btn-container-last-load;
    transform: translateX(1000%);
}

.card-container {
    /*max-width: 1200px;*/
    /*max-height: 360px;*/
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    background-color: #7a7979;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-info {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    margin: 10px;
    padding: 16px;
    background: none;
    color: olive;
    font-size: 15px;
    border: 1px solid olive;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: olive;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn:hover:before,
.btn:focus:before {
    transform: scaleX(1);
}

.btn {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.btn:hover,
.btn:focus {
    color: #ffffff;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"].toggle +label::before {
    content: '';
    width: 55px;
    height: 30px;
    /*width: 2em;*/
    /*height: 1em;*/
    background-color: hsl(0, 80%, 90%);;
    border-radius: 1em;
    margin-right: .25em;
}

input[type="checkbox"].toggle +label::after {
    position: absolute;
    left: 0.1em;
    content: '';
    width: 25px;
    height: 25px;
    background-color: hsl(0, 80%, 60%);
    border-radius: 1em;
}

input[type="checkbox"].toggle:checked +label::before {
    background-color: hsl(100, 70%, 90%);;
}

input[type="checkbox"].toggle:checked +label::after {
    transform: translateX(100%);
    background-color: olive;
}

/*modal*/

.modal-btn {
    background-color: white;
    color: olive;
}

.hidden {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    background-color: #fefefe;
    color: #000000;
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    padding: 60px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 80%;
}

/*loaders*/

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 30px;
}

.loader.show {
    opacity: 1;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: #05dbd7;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.pre-louder {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #a27b77;
    animation: spin 2s linear infinite;
    align-items: center;
    margin: -76px 0 0 -76px;
}

.pre-louder.show-pre-louder{
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes btn-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes btn-container-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes btn-container-first-load {
    0% {
        transform: translateX(-1000% );
    }

    90% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes btn-container-last-load {
    0% {
        transform: translateX(1000% );
    }

    90% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}